body {

}

.header {
    top: 2rem;
    left: 0;
    right: 0;
}

.icon-arrow-wrapper {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-arrow-wrapper .icon {
    width: 0.75rem;
    height: 0.75rem;
}


.section-intro-banner {
    padding: 10rem 0 0 0;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
}

.icon-brief-case {
    background-image: url('../images/icon-brief-case.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

/* SwiperJS Team Setion - CSS Start */




/* SwiperJS Team Setion - CSS End */

/* card card-emerging Start */
.card.card-emerging {
    transition: all 0.3s ease-in-out;
    transition-property: all;
    cursor: pointer;
    &:hover {
        background-color: #E6F0FF !important;
        transform: translate(0rem, -1rem);
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 6px 8px 0;;
        &.border-light-subtle {
            border-color: #8AB9FF !important;
        }
    }
}


/* .card.card-emerging:hover {
    background-color: #E6F0FF !important;
}

.card.card-emerging:hover .border-light-subtle {
    border-color: #8AB9FF !important;
} */

/* card card-emerging End */


/* Icon Notification Start */

.icon-notification {
    bottom: 0;
    right: 0;
}

/* Icon Notification End */

.bg-why-choose-masters-in-me {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


.column-count-2 {
    column-count: 2;
}